.logo{
	-fx-text-fill:  "#FFE187";
	-fx-background-radius: 50.0;
	-fx-background-color: red;
	-fx-font-family: "Baloo Bhaijaan";
	-fx-font-size: 40.0;
}

.mytitle{
    -fx-font-family: "Baloo Bhaijaan";
    /*-fx-font-family: "Shadows Into Light";*/
    -fx-font-size: 50.0;
    
}

.fondo{
	-fx-background-color: "#FFE187";
}